/* google fonts are here  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');


/* root css are here  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* utilities classes are here */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--deep-black);
}
ul li{
    list-style: none;
}


/* var are uses here  */
:root{
    --deep-black: #3a3a3a;
}

/* main css are here  */

.header-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.menu-items{
    display: flex;
    justify-content: center
}
.menu-items li{
    margin-left: 25px;
}

